In [ ]:
!wget http://millionsongdataset.com/sites/default/files/challenge/train_triplets.txt.zip

--2021-08-11 06:51:59--  http://millionsongdataset.com/sites/default/files/challenge/train_triplets.txt.zip
Resolving millionsongdataset.com (millionsongdataset.com)... 172.104.14.177
Connecting to millionsongdataset.com (millionsongdataset.com)|172.104.14.177|:80... connected.
HTTP request sent, awaiting response... 200 OK
Length: 512137572 (488M) [application/zip]
Saving to: ‘train_triplets.txt.zip’

train_triplets.txt. 100%[===================>] 488.41M   132MB/s    in 3.5s

2021-08-11 06:52:03 (140 MB/s) - ‘train_triplets.txt.zip’ saved [512137572/512137572]

In [ ]:
!unzip train_triplets.txt.zip

Archive:  train_triplets.txt.zip
  inflating: train_triplets.txt

In [ ]:
!head train_triplets.txt

b80344d063b5ccb3212f76538f3d9e43d87dca9e	SOAKIMP12A8C130995	1
b80344d063b5ccb3212f76538f3d9e43d87dca9e	SOAPDEY12A81C210A9	1
b80344d063b5ccb3212f76538f3d9e43d87dca9e	SOBBMDR12A8C13253B	2
b80344d063b5ccb3212f76538f3d9e43d87dca9e	SOBFNSP12AF72A0E22	1
b80344d063b5ccb3212f76538f3d9e43d87dca9e	SOBFOVM12A58A7D494	1
b80344d063b5ccb3212f76538f3d9e43d87dca9e	SOBNZDC12A6D4FC103	1
b80344d063b5ccb3212f76538f3d9e43d87dca9e	SOBSUJE12A6D4F8CF5	2
b80344d063b5ccb3212f76538f3d9e43d87dca9e	SOBVFZR12A6D4F8AE3	1
b80344d063b5ccb3212f76538f3d9e43d87dca9e	SOBXALG12A8C13C108	1
b80344d063b5ccb3212f76538f3d9e43d87dca9e	SOBXHDL12A81C204C0	1

In [ ]:
!du train_triplets.txt

2931312	train_triplets.txt

In [ ]:
import pandas as pd

In [ ]:
df = pd.read_csv('train_triplets.txt', sep='\t', header=None)
df.columns = ['user_id','song_id','play_counts']
df.head()

                                    user_id             song_id  play_counts
0  b80344d063b5ccb3212f76538f3d9e43d87dca9e  SOAKIMP12A8C130995            1
1  b80344d063b5ccb3212f76538f3d9e43d87dca9e  SOAPDEY12A81C210A9            1
2  b80344d063b5ccb3212f76538f3d9e43d87dca9e  SOBBMDR12A8C13253B            2
3  b80344d063b5ccb3212f76538f3d9e43d87dca9e  SOBFNSP12AF72A0E22            1
4  b80344d063b5ccb3212f76538f3d9e43d87dca9e  SOBFOVM12A58A7D494            1

In [ ]:
df.describe(include='all')

                                         user_id  ...   play_counts
count                                   48373586  ...  4.837359e+07
unique                                   1019318  ...           NaN
top     ec6dfcf19485cb011e0b22637075037aae34cf26  ...           NaN
freq                                        4400  ...           NaN
mean                                         NaN  ...  2.866859e+00
std                                          NaN  ...  6.437725e+00
min                                          NaN  ...  1.000000e+00
25%                                          NaN  ...  1.000000e+00
50%                                          NaN  ...  1.000000e+00
75%                                          NaN  ...  3.000000e+00
max                                          NaN  ...  9.667000e+03

[11 rows x 3 columns]

In [ ]:
from sklearn.preprocessing import LabelEncoder

le_user = LabelEncoder()
df.loc[:, 'user_id'] = le_user.fit_transform(df['user_id'].values)

le_item = LabelEncoder()
df.loc[:, 'song_id'] = le_item.fit_transform(df['song_id'].values)

In [ ]:
df.head()

   user_id  song_id  play_counts
0   732659     6347            1
1   732659     9365            1
2   732659    16962            2
3   732659    19513            1
4   732659    19536            1

In [ ]:
df.dtypes

user_id        int64
song_id        int64
play_counts    int64
dtype: object

In [ ]:
df.to_parquet('interactions.parquet.gzip', compression='gzip')

In [ ]:
!wget -O YANDEX-DISK-KEY.GPG http://repo.yandex.ru/yandex-disk/YANDEX-DISK-KEY.GPG
!apt-key add YANDEX-DISK-KEY.GPG
!echo "deb http://repo.yandex.ru/yandex-disk/deb/ stable main" >> /etc/apt/sources.list.d/yandex-disk.list
!apt-get update
!apt-get install yandex-disk

!yandex-disk setup

In [ ]:
!mkdir -p /content/recodata/echonest/v1 && mv /content/interactions.parquet.gzip /content/recodata/echonest/v1

In [ ]:
import os
project_name = "reco-tut-gpr"; branch = "main"; account = "sparsh-ai"
project_path = os.path.join('/content', project_name)

In [ ]:
if not os.path.exists(project_path):
    !cp /content/drive/MyDrive/mykeys.py /content
    import mykeys
    !rm /content/mykeys.py
    path = "/content/" + project_name; 
    !mkdir "{path}"
    %cd "{path}"
    import sys; sys.path.append(path)
    !git config --global user.email "recotut@recohut.com"
    !git config --global user.name  "reco-tut"
    !git init
    !git remote add origin https://"{mykeys.git_token}":x-oauth-basic@github.com/"{account}"/"{project_name}".git
    !git pull origin "{branch}"
    !git checkout main
else:
    %cd "{project_path}"

/content/reco-tut-gpr
Initialized empty Git repository in /content/reco-tut-gpr/.git/
remote: Enumerating objects: 12, done.
remote: Counting objects: 100% (12/12), done.
remote: Compressing objects: 100% (6/6), done.
remote: Total 12 (delta 0), reused 10 (delta 0), pack-reused 0
Unpacking objects: 100% (12/12), done.
From https://github.com/sparsh-ai/reco-tut-gpr
 * branch            main       -> FETCH_HEAD
 * [new branch]      main       -> origin/main
Branch 'main' set up to track remote branch 'main' from 'origin'.
Switched to a new branch 'main'

In [ ]:
%%writefile ./code/load_data.py
import os
import requests
from pathlib import Path

def download_yandex(sharing_link, file_path):
  API_ENDPOINT = 'https://cloud-api.yandex.net/v1/disk/public/resources/download?public_key={}'
  pk_request = requests.get(API_ENDPOINT.format(sharing_link))
  r = requests.get(pk_request.json()['href'])
  open(file_path, 'wb').write(r.content)

data_path = os.path.join(Path(__file__).parent.parent, 'data/bronze/interactions.parquet.gz')
download_yandex('https://disk.yandex.ru/d/QsJkkMN5KDQobA', data_path)

Writing ./code/load_data.py

In [ ]:
!python ./code/load_data.py

In [ ]:
import pickle

with open('./artifacts/le_user.pkl', 'wb') as file:
    pickle.dump(le_user, file)

with open('./artifacts/le_item.pkl', 'wb') as file:
    pickle.dump(le_item, file)

In [ ]:
!git status

In [ ]:
!echo data/bronze/interactions.parquet.gz >> .gitignore

In [ ]:
!git add . && git commit -m 'commit' && git push origin "{branch}"