In [ ]:
import os
project_name = "reco-tut-brr"; branch = "main"; account = "sparsh-ai"
project_path = os.path.join('/content', project_name)

In [ ]:
if not os.path.exists(project_path):
    !cp /content/drive/MyDrive/mykeys.py /content
    import mykeys
    !rm /content/mykeys.py
    path = "/content/" + project_name; 
    !mkdir "{path}"
    %cd "{path}"
    import sys; sys.path.append(path)
    !git config --global user.email "recotut@recohut.com"
    !git config --global user.name  "reco-tut"
    !git init
    !git remote add origin https://"{mykeys.git_token}":x-oauth-basic@github.com/"{account}"/"{project_name}".git
    !git pull origin "{branch}"
    !git checkout main
else:
    %cd "{project_path}"

/content/reco-tut-brr
Initialized empty Git repository in /content/reco-tut-brr/.git/
remote: Enumerating objects: 13, done.
remote: Counting objects: 100% (13/13), done.
remote: Compressing objects: 100% (8/8), done.
remote: Total 13 (delta 1), reused 12 (delta 1), pack-reused 0
Unpacking objects: 100% (13/13), done.
From https://github.com/sparsh-ai/reco-tut-brr
 * branch            main       -> FETCH_HEAD
 * [new branch]      main       -> origin/main
Branch 'main' set up to track remote branch 'main' from 'origin'.
Switched to a new branch 'main'

In [ ]:
!git status

On branch main
Your branch is up to date with 'origin/main'.

Untracked files:
  (use "git add <file>..." to include in what will be committed)

	data/bronze/demographics.parquet.gzip
	data/bronze/products.parquet.gzip
	data/bronze/test.parquet.gzip
	data/bronze/train.parquet.gzip
	data/bronze/transactions.parquet.gzip

nothing added to commit but untracked files present (use "git add" to track)

In [ ]:
!git add . && git commit -m 'commit' && git push origin "{branch}"

[main e52682f] commit
 5 files changed, 0 insertions(+), 0 deletions(-)
 create mode 100644 data/bronze/demographics.parquet.gzip
 create mode 100644 data/bronze/products.parquet.gzip
 create mode 100644 data/bronze/test.parquet.gzip
 create mode 100644 data/bronze/train.parquet.gzip
 create mode 100644 data/bronze/transactions.parquet.gzip
Counting objects: 9, done.
Delta compression using up to 2 threads.
Compressing objects: 100% (9/9), done.
Writing objects: 100% (9/9), 17.26 MiB | 14.40 MiB/s, done.
Total 9 (delta 2), reused 0 (delta 0)
remote: Resolving deltas: 100% (2/2), completed with 1 local object.
To https://github.com/sparsh-ai/reco-tut-brr.git
   babd5d4..e52682f  main -> main

---

In [ ]:
import pandas as pd

In [ ]:
!mkdir -p /content/tempdata && unzip ./data/bronze/data.zip -d /content/tempdata

Archive:  ./data/bronze/data.zip
  inflating: /content/tempdata/bpr.csv
  inflating: /content/tempdata/hh_demographic.csv
  inflating: /content/tempdata/product.csv
  inflating: /content/tempdata/retail_test1.csv
  inflating: /content/tempdata/retail_train.csv
  inflating: /content/tempdata/transaction_data.csv

In [ ]:
train = pd.read_csv('/content/tempdata/retail_train.csv')
train.head()

   user_id    basket_id  day  ...  week_no  coupon_disc  coupon_match_disc
0     2375  26984851472    1  ...        1          0.0                0.0
1     2375  26984851472    1  ...        1          0.0                0.0
2     2375  26984851472    1  ...        1          0.0                0.0
3     2375  26984851472    1  ...        1          0.0                0.0
4     2375  26984851472    1  ...        1          0.0                0.0

[5 rows x 12 columns]

In [ ]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2396804 entries, 0 to 2396803
Data columns (total 12 columns):
 #   Column             Dtype
---  ------             -----
 0   user_id            int64
 1   basket_id          int64
 2   day                int64
 3   item_id            int64
 4   quantity           int64
 5   sales_value        float64
 6   store_id           int64
 7   retail_disc        float64
 8   trans_time         int64
 9   week_no            int64
 10  coupon_disc        float64
 11  coupon_match_disc  float64
dtypes: float64(4), int64(8)
memory usage: 219.4 MB

In [ ]:
train.to_parquet('./data/bronze/train.parquet.gzip', compression='gzip')

In [ ]:
test = pd.read_csv('/content/tempdata/retail_test1.csv')
test.head()

   user_id    basket_id  day  ...  week_no  coupon_disc  coupon_match_disc
0     1340  41652823310  664  ...       96          0.0                0.0
1      588  41652838477  664  ...       96          0.0                0.0
2     2070  41652857291  664  ...       96          0.0                0.0
3     1602  41665647035  664  ...       96          0.0                0.0
4     1602  41665647035  664  ...       96          0.0                0.0

[5 rows x 12 columns]

In [ ]:
test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 88734 entries, 0 to 88733
Data columns (total 12 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   user_id            88734 non-null  int64
 1   basket_id          88734 non-null  int64
 2   day                88734 non-null  int64
 3   item_id            88734 non-null  int64
 4   quantity           88734 non-null  int64
 5   sales_value        88734 non-null  float64
 6   store_id           88734 non-null  int64
 7   retail_disc        88734 non-null  float64
 8   trans_time         88734 non-null  int64
 9   week_no            88734 non-null  int64
 10  coupon_disc        88734 non-null  float64
 11  coupon_match_disc  88734 non-null  float64
dtypes: float64(4), int64(8)
memory usage: 8.1 MB

In [ ]:
test.to_parquet('./data/bronze/test.parquet.gzip', compression='gzip')

In [ ]:
products = pd.read_csv('/content/tempdata/product.csv')
products.head()

   PRODUCT_ID  MANUFACTURER  ...           SUB_COMMODITY_DESC CURR_SIZE_OF_PRODUCT
0       25671             2  ...          ICE - CRUSHED/CUBED                22 LB
1       26081             2  ...  NO SUBCOMMODITY DESCRIPTION
2       26093            69  ...         BREAD:ITALIAN/FRENCH
3       26190            69  ...                  APPLE SAUCE                50 OZ
4       26355            69  ...            SPECIALTY COOKIES                14 OZ

[5 rows x 7 columns]

In [ ]:
products.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 92353 entries, 0 to 92352
Data columns (total 7 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   PRODUCT_ID            92353 non-null  int64
 1   MANUFACTURER          92353 non-null  int64
 2   DEPARTMENT            92353 non-null  object
 3   BRAND                 92353 non-null  object
 4   COMMODITY_DESC        92353 non-null  object
 5   SUB_COMMODITY_DESC    92353 non-null  object
 6   CURR_SIZE_OF_PRODUCT  92353 non-null  object
dtypes: int64(2), object(5)
memory usage: 4.9+ MB

In [ ]:
products.to_parquet('./data/bronze/products.parquet.gzip', compression='gzip')

In [ ]:
dem = pd.read_csv('/content/tempdata/hh_demographic.csv')
dem.head()

  AGE_DESC MARITAL_STATUS_CODE  ... KID_CATEGORY_DESC household_key
0      65+                   A  ...      None/Unknown             1
1    45-54                   A  ...      None/Unknown             7
2    25-34                   U  ...                 1             8
3    25-34                   U  ...                 2            13
4    45-54                   B  ...      None/Unknown            16

[5 rows x 8 columns]

In [ ]:
dem.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 801 entries, 0 to 800
Data columns (total 8 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   AGE_DESC             801 non-null    object
 1   MARITAL_STATUS_CODE  801 non-null    object
 2   INCOME_DESC          801 non-null    object
 3   HOMEOWNER_DESC       801 non-null    object
 4   HH_COMP_DESC         801 non-null    object
 5   HOUSEHOLD_SIZE_DESC  801 non-null    object
 6   KID_CATEGORY_DESC    801 non-null    object
 7   household_key        801 non-null    int64
dtypes: int64(1), object(7)
memory usage: 50.2+ KB

In [ ]:
dem.to_parquet('./data/bronze/demographics.parquet.gzip', compression='gzip')

In [ ]:
trs = pd.read_csv('/content/tempdata/transaction_data.csv')
trs.head()

   household_key    BASKET_ID  DAY  ...  WEEK_NO  COUPON_DISC  COUPON_MATCH_DISC
0           2375  26984851472    1  ...        1          0.0                0.0
1           2375  26984851472    1  ...        1          0.0                0.0
2           2375  26984851472    1  ...        1          0.0                0.0
3           2375  26984851472    1  ...        1          0.0                0.0
4           2375  26984851472    1  ...        1          0.0                0.0

[5 rows x 12 columns]

In [ ]:
trs.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2595732 entries, 0 to 2595731
Data columns (total 12 columns):
 #   Column             Dtype
---  ------             -----
 0   household_key      int64
 1   BASKET_ID          int64
 2   DAY                int64
 3   PRODUCT_ID         int64
 4   QUANTITY           int64
 5   SALES_VALUE        float64
 6   STORE_ID           int64
 7   RETAIL_DISC        float64
 8   TRANS_TIME         int64
 9   WEEK_NO            int64
 10  COUPON_DISC        float64
 11  COUPON_MATCH_DISC  float64
dtypes: float64(4), int64(8)
memory usage: 237.6 MB

In [ ]:
trs.to_parquet('./data/bronze/transactions.parquet.gzip', compression='gzip')

In [ ]:
bpr = pd.read_csv('/content/tempdata/bpr.csv')
bpr.head()

   item_alpha  user_alpha     score
0         0.2         0.1  0.054023
1         0.2         0.2  0.054220
2         0.4         0.1  0.134319
3         0.4         0.2  0.125550
4         0.6         0.1  0.140427

No need to ingest this....this is a result file we will generate later.